---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 2
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
---
Language: JavaScript
# Use 100 columns for JS.
ColumnLimit: 100
indentation: 2
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: SFS_Empty
SpacesInContainerLiterals: flase
BreakBeforeBraces(BS_Attach)
---
Language: Proto
# Don't format .proto files.
DisableFormat: true